p.p1 {margin: 0.0px 0.0px 8.0px 0.0px; text-align: center; font: 15.0px Helvetica}
    p.p2 {margin: 0.0px 0.0px 8.0px 0.0px; text-align: center; font: 11.0px Helvetica}
    p.p3 {margin: 0.0px 0.0px 8.0px 0.0px; font: 11.0px Helvetica; min-height: 13.0px}
    p.p4 {margin: 0.0px 0.0px 8.0px 39.6px; text-align: justify; font: 11.0px Helvetica}
    p.p5 {margin: 0.0px 0.0px 8.0px 39.6px; text-align: justify; font: 11.0px Times; min-height: 13.0px}
    p.p6 {margin: 0.0px 0.0px 8.0px 0.0px; font: 11.0px Times; min-height: 13.0px}
    p.p8 {margin: 0.0px 0.0px 8.0px 18.0px; text-align: justify; font: 11.0px Helvetica; min-height: 13.0px}
    p.p9 {margin: 0.0px 0.0px 8.0px 39.6px; text-align: justify; font: 11.0px Helvetica; min-height: 13.0px}
    p.p10 {margin: 0.0px 0.0px 8.0px 61.2px; text-align: justify; font: 11.0px Helvetica; min-height: 13.0px}
    li.li7 {margin: 0.0px 0.0px 8.0px 0.0px; text-align: justify; font: 11.0px Helvetica}
    span.s1 {text-decoration: underline}
    span.s2 {font: 11.0px Times}
    span.Apple-tab-span {white-space:pre}
    ol.ol1 {list-style-type: decimal}