@media print /* ეს აუცილებელი სტილია! ღილაკი ქრება საბეჭდი ფორმიდან. */ {
    div.print {
      display: none;
      padding: 20px;
    }
    div.fb_reset{
      display: none;
      padding: 20px;
    }
  }
